body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  text-align: left;
}

.header a {
  text-decoration: none;
  margin: 0 10px;
  color: #007bff;
  font-weight: bold;
}

.auth-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container h2, .auth-container h3 {
  color: #333;
}

.info {
  background-color: #e9ecef;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e9ecef;
}


.login-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #17a2b8;
  color: white;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #139192;
}
