body {
  font-family: Arial, sans-serif;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.login-container h1 {
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
}

.login-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #17a2b8;
  color: white;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #139192;
}
